# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Python distribution files
*.egg
*.egg-info
dist/
build/
*.bak
